<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>ETurf Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <link rel="stylesheet" href="{% static 'eturfstatic/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'eturfstatic/css/bootstrap/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'eturfstatic/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'eturfstatic/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'eturfstatic/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'eturfstatic/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'eturfstatic/css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'eturfstatic/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'eturfstatic/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'eturfstatic/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'eturfstatic/css/style.css' %}">



</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="index.html">
              <img src="{% static 'eturfstatic/images/logo.png' %}" alt="Logo">
            </a>
          </div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="{% url 'eturf_index' %}" class="nav-link">Home</a></li>
                <li><a href="{% url 'eturf_list' %}" class="nav-link">Turf</a></li>
                {% if 'username_u' in request.session %}
                <li><a href="{% url 'userlogout' %}" class="nav-link">Logout</a></li>
                <li><a href="{% url 'mybooking' %}" class="nav-link">My Booking</a></li>
                {% else %}
                <li><a href="" class="nav-link" data-toggle="modal" data-target="#modalLoginForm">Login</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                <li><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
              </ul>
            </nav>

            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                class="icon-menu h3 text-white"></span></a>
          </div>
        </div>
      </div>

    </header>

    {% block content %}
    <div class="hero overlay" style="background-image: url({% static 'eturfstatic/images/bg_3.jpg' %});">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 ml-auto">
            <h1 class="text-white">Book Your Turf</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, molestias repudiandae pariatur.</p>
            <div id="date-countdown"></div>
            <p>
              <a href="{% url 'eturf_list' %}" class="btn btn-primary py-3 px-4 mr-3">Book Turf</a>
              <a href="#" class="more light">Learn More</a>
            </p>  
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="container">
      

      <div class="row">
        <div class="col-lg-12">
          
        
        </div>
      </div>
    </div>
  

    <div class="latest-news">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Playgrounds</h2>
          </div>
        </div>
        
        <div class="row no-gutters">
          {% for i in data %}
          <div class="col-md-4">
            <div class="post-entry">
              <a href="#">
                <img src="{{i.img.url}}" style="width: 400px; height: 400px;" alt="Image" class="img-fluid">
              </a>
              <div class="caption">
                <div class="caption-inner">
                  <h3 class="mb-3">{{i.ground}}</h3>
                  <div class="author d-flex align-items-center">
                    
                    <div class="text">
                      <h4>{{i.location}}</h4>
                      <span>{{i.price}} &bullet; {{i.category}}</span>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
         
          {% endfor %}
        </div>
     
      </div>
    </div>
   
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-6 title-section">
            <h2 class="heading">Videos</h2>
          </div>
          <div class="col-6 text-right">
            <div class="custom-nav">
            <a href="#" class="js-custom-prev-v2"><span class="icon-keyboard_arrow_left"></span></a>
            <span></span>
            <a href="#" class="js-custom-next-v2"><span class="icon-keyboard_arrow_right"></span></a>
            </div>
          </div>
        </div>


        <div class="owl-4-slider owl-carousel">
          <div class="item">
            <div class="video-media">
              <img src="{% static 'eturfstatic/images/img_1.jpg' %}" alt="Image" class="img-fluid">
              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
                <span class="icon mr-3">
                  <span class="icon-play"></span>
                </span>
                <div class="caption">
                  <h3 class="m-0">Dogba set for Juvendu return?</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="video-media">
              <img src="{% static 'eturfstatic/images/img_2.jpg' %}" alt="Image" class="img-fluid">
              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
                <span class="icon mr-3">
                  <span class="icon-play"></span>
                </span>
                <div class="caption">
                  <h3 class="m-0">Kai Nets Double To Secure Comfortable Away Win</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="video-media">
              <img src="{% static 'eturfstatic/images/img_3.jpg' %}" alt="Image" class="img-fluid">
              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
                <span class="icon mr-3">
                  <span class="icon-play"></span>
                </span>
                <div class="caption">
                  <h3 class="m-0">Romolu to stay at Real Nadrid?</h3>
                </div>
              </a>
            </div>
          </div>

          <div class="item">
            <div class="video-media">
              <img src="{% static 'eturfstatic/images/img_1.jpg' %}" alt="Image" class="img-fluid">
              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
                <span class="icon mr-3">
                  <span class="icon-play"></span>
                </span>
                <div class="caption">
                  <h3 class="m-0">Dogba set for Juvendu return?</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="video-media">
              <img src="{% static 'eturfstatic/images/img_2.jpg' %}" alt="Image" class="img-fluid">
              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
                <span class="icon mr-3">
                  <span class="icon-play"></span>
                </span>
                <div class="caption">
                  <h3 class="m-0">Kai Nets Double To Secure Comfortable Away Win</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="video-media">
              <img src="{% static 'eturfstatic/images/img_3.jpg' %}" alt="Image" class="img-fluid">
              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
                <span class="icon mr-3">
                  <span class="icon-play"></span>
                </span>
                <div class="caption">
                  <h3 class="m-0">Romolu to stay at Real Nadrid?</h3>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>



{% endblock %}

    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>News</h3>
              <ul class="list-unstyled links">
                <li><a href="#">All</a></li>
                <li><a href="#">Club News</a></li>
                <li><a href="#">Media Center</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">RSS</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>Tickets</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Online Ticket</a></li>
                <li><a href="#">Payment and Prices</a></li>
                <li><a href="#">Contact &amp; Booking</a></li>
                <li><a href="#">Tickets</a></li>
                <li><a href="#">Coupon</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>Matches</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Standings</a></li>
                <li><a href="#">World Cup</a></li>
                <li><a href="#">La Lega</a></li>
                <li><a href="#">Hyper Cup</a></li>
                <li><a href="#">World League</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>Social</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Youtube</a></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="row text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="icon-heart"
                  aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>



  </div>
  <!-- .site-wrap -->

  <script src="{% static 'eturfstatic/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'eturfstatic/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'eturfstatic/js/jquery-ui.js' %}"></script>
  <script src="{% static 'eturfstatic/js/popper.min.js' %}"></script>
  <script src="{% static 'eturfstatic/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'eturfstatic/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'eturfstatic/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'eturfstatic/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'eturfstatic/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'eturfstatic/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'eturfstatic/js/aos.js' %}"></script>
  <script src="{% static 'eturfstatic/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'eturfstatic/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'eturfstatic/js/jquery.mb.YTPlayer.min.js' %}"></script>


  <script src="{% static 'eturfstatic/js/main.js' %}"></script>



  <div class="modal" id="modalLoginForm" style="padding-top: 50px;" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong><b>Sign In</b></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'userlogin' %}">
        {% csrf_token %}
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" size="35" placeholder="Username" name="username">
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" size="35" placeholder="Password" name="password">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default" value="Login">
      </div>
    </form>

    </div>
  </div>
</div>

{% if messages %}

  {% for message in messages %}
  <script>alert("{{ message }}")</script> 
  {% endfor %}

{% endif %}

</body>

</html>