{% extends 'adminindex.html' %}
{% block content %}

<div class="card mb-3"  style="margin: 50px;">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Add Managers</h6>
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'managerdata' %}" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter Password">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Assign Playground</label>
          <select name="ground" class="form-select-lg mb-3" aria-label=".form-select-lg example"> 
          {% for i in data %}
          <option value="{{i.ground}}">{{i.ground}}</option>
          {% endfor %}    
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Upload Image</label>
          <input type="file" name="img" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}