{% extends 'adminindex.html' %}
{% block content %}

<div class="card mb-3"  style="margin: 50px;">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Add Category</h6>
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'playground_data' %}" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Playground name</label>
          <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Location</label>
            <input type="text" name="location" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter Location">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Select Category</label>
            <select name="category" class="form-select-lg mb-3" aria-label=".form-select-lg example"> 
            {% for i in data %}
            <option value="{{i.name}}">{{i.name}}</option>
            {% endfor %}    
            </select>
          </div>
      
        <div class="form-group">
          <div class="custom-file">
            <input type="file" name="img">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}