{% extends 'adminindex.html' %}
{% block content %}

  <div class="col-lg-12 mb-4">
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Sr.No</th>
                        <th>Playground Name</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.ground}}</td>
                        <td>{{i.location}}</td>
                        <td>{{i.category}}</td>
                        <td><img src="{{i.img.url}}" style="width: 50px; height: 50px"></td>
                        <td><span class="btn btn-sm btn-primary">Edit</span></td>
                        <td><a href="#" class="btn btn-sm btn-danger">Delete</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
{% endblock %}