{% extends 'adminindex.html' %}
{% block content %}

  <div class="col-lg-12 mb-4">
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Invoice</h6>
                  <a class="m-0 float-right btn btn-danger btn-sm" href="#">View More <i
                      class="fas fa-chevron-right"></i></a>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.name}}</td>
                        <td><span class="btn btn-sm btn-primary">Edit</span></td>
                        <td><a href="#" class="btn btn-sm btn-danger">Delete</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
{% endblock %}